.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 10px 10px;
}

/* .navbar .logo {
  flex: 1;
} */

.navbar .menu {
  display: flex;
  justify-content: space-around;
}

/* .navbar li {
  float: right;
}

.navbar li:first-child {
  float: left;
} */
