body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #333333;
}

.nav-bar {
  display: flex;
  background-color: #ffffff;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  padding: 1rem 5rem;
  top: 0;
  z-index: 1000;
}

.nav-bar .logo {
  /* font-size: 1.5rem; */
  font-weight: bold;
}

.nav-bar ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-grow: 1;
  gap: 4rem;
}

.nav-bar ul li {
  display: inline-block;
  font-weight: bold;
}

.nav-bar ul li a {
  text-decoration: none;
  color: #333333;
  font-size: 1rem;
  transition: color 0.3s;
}

.nav-bar ul li a:hover {
  color: #ff8965;
}

.nav-bar .locale {
  display: flex;
  gap: 0.5rem;
}

.nav-bar .locale button {
  background-color: white;
  border: 1px solid white;
  font-weight: bold;
  color: #ff8965;
  padding: 0.3rem 0.6rem;
  border-radius: 4px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.nav-bar .locale button:hover {
  background-color: white;
  color: #ff8965;
}

.nav-bar .locale button:disabled {
  opacity: 0.6;
}

.header {
  padding: 7rem 5rem 5rem 5rem;
  display: flex;
  flex-direction: column;
  place-items: center;
}

.header h1 {
  font-size: 3.2rem;
  margin: 0;
}

.header h2 {
  font-size: 1.6rem;
  margin: 1rem;
}

.section-container {
  padding: 4rem 5rem;
}
.section-title {
  font-size: 3.2rem;
}

.project-details .container {
  padding: 1rem 4rem;
}

.project-details .discription-container {
  flex: 1;
}

.project-details .image-container {
  flex: 1;
}

.project-details .image-gallery {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}
/* .about-section .container {
  display: flex;
}

.about-section img {
  width: 20rem;
  height: 20rem;
  margin-right: 5rem;
}

.about-section p {
  font-size: 1rem;
  margin-bottom: 2rem;
} */

/* .footer {
  bottom: 0;
  background-color: #333333;
  color: white;
  text-align: center;
  padding: 1rem 0;
  height: 200px;
} */

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
